@model GradingModel

@{
    ViewBag.Title = "Update Grades";
    ViewBag.PersonName = Model.PersonName;
    Layout = "_Layout";
}

<h2>@Model.CourseName Grades</h2>

@using (Html.BeginForm("BulkGrade", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.PersonImage)
    @Html.HiddenFor(m => m.PersonName)
    @Html.HiddenFor(m => m.CourseId)
    @Html.HiddenFor(m => m.CourseName)

    <div class="form-group">
        <button id="submit" type="submit" class="btn btn-info" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Saving">Save</button>
    </div>

    <div class="form-group">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Student</th>
                @foreach (var assignment in Model.Assignments)
                {
                    var assignmentIndex = Model.Assignments.IndexOf(assignment);

                    <th>
                        @Html.HiddenFor(m => m.Assignments[assignmentIndex].CourseWorkName)
                        @Html.HiddenFor(m => m.Assignments[assignmentIndex].CourseWorkId)
                        @Html.HiddenFor(m => m.Assignments[assignmentIndex].MaxPoints)
                        @assignment.CourseWorkName
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var student in Model.Students)
            {
                var studentIndex = Model.Students.IndexOf(student);

                <tr>
                    <td>
                        @Html.HiddenFor(m => m.Students[studentIndex].StudentId)
                        @Html.HiddenFor(m => m.Students[studentIndex].StudentName)
                        @student.StudentName
                    </td>

                    @foreach (var assignment in Model.Assignments)
                    {
                        var assignmentIndex = Model.Assignments.IndexOf(assignment);

                        <td>
                            <div class="input-group input-group-sm">
                                @Html.TextBoxFor(m => m.AssignmentGrades[assignmentIndex].Grades[studentIndex], 
                                    new {@class="form-control", type = "number", min = "0", max = assignment.MaxPoints})
                                <span class="input-group-addon">/ @assignment.MaxPoints</span>
                            </div>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
}

@section Scripts
{
    <script>
        $('.btn').on('click', function() {
            var $this = $(this);
            $this.button('loading');
        });
    </script>
}
